@import url("https://fonts.googleapis.com/css?family=Biryani|Muli|Prompt|Open+Sans|Roboto+Mono|Work+Sans:800");
a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #fff;
  font-family: 'Muli', sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #f7f9fa;
}

nav {
  background-color: #191e28;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 20px;
}

nav .logo {
  position: relative;
  font-size: 45px;
  margin-right: 20px;
  padding: 20px 0 10px 0;
  transition: all .1s ease-in-out;
}

nav .logo .spinner {
  position: absolute;
  top: calc(42% - 50px);
  left: calc(50% - 50px);
  z-index: 0;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border-bottom: 10px solid #d9534f;
  border-left: 10px solid #d9534f;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  -webkit-animation: spinForwards 1s linear infinite;
  animation: spinForwards 1s linear infinite;
}

nav .logo .spinner span {
  position: absolute;
  top: calc(35% - 35px);
  left: calc(50% - 50px);
  z-index: 0;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border-top: 10px solid rgba(217, 83, 79, 0.6);
  border-left: 10px solid rgba(217, 83, 79, 0.6);
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  -webkit-animation: spinForwards 3s .2s linear infinite;
  animation: spinForwards 3s .2s linear infinite;
}

nav .logo .text {
  position: relative;
  z-index: 1;
}

nav .links {
  margin-left: 20px;
  padding: 20px 0 10px 0;
}

nav .links ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: flex;
  list-style-type: none;
  height: 100%;
}

nav .links ul .link {
  color: white;
  height: 100%;
  display: -webkit-box;
  display: flex;
  padding: 0 20px;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

nav .links ul .link span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 0;
  background-color: #d9534f;
  pointer: cursor;
}

nav .links ul .link:hover > span {
  width: 100%;
  transition: all .1s ease-in-out;
}

nav:hover .logo {
  padding: 40px 0 30px 0;
  transition: all .1s ease-in-out;
}

.loader {
  height: 100px;
  width: 100px;
  margin: 50px;
}

.loader1 {
  height: 100%;
  width: 100%;
  position: relative;
}

.loader1 div:nth-child(1) {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 10px solid #d9534f;
  border-left: 10px solid transparent;
  -webkit-animation: spinForwards 2s linear infinite;
  animation: spinForwards 2s linear infinite;
}

.loader1 div:nth-child(2) {
  top: 0;
  left: 0;
  margin-left: 10%;
  margin-top: 10%;
  position: absolute;
  height: 80%;
  width: 80%;
  border-radius: 50%;
  border: 10px solid rgba(217, 83, 79, 0.6);
  border-left: 10px solid transparent;
  border-bottom: 10px solid transparent;
  -webkit-animation: spinForwards 1s linear infinite;
  animation: spinForwards 1s linear infinite;
}

@-webkit-keyframes spinForwards {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinForwards {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.index-container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  color: white;
  background-color: #111;
}

.typing {
  font-size: 15vh;
}

.typed-cursor {
  font-size: 15vh;
  color: #FF5252;
}

.page-content {
  display: -webkit-box;
  display: flex;
}

.page-content .left {
  width: 22%;
}

.page-content .right {
  width: 22%;
}

.page-content .post-single-body {
  z-index: 10;
  width: 56%;
  background-color: white;
  color: #3A4145;
  line-height: 1.6em;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.page-content .post-single-body #post-single-title {
  padding: 15px 30px 15px 30px;
}

.page-content .post-single-body img {
  width: 100%;
}

.page-content .post-single-body .markdown {
  padding: 0 30px 0 30px;
}

.gradient {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(137, 255, 241, 0) 0%, black 100%);
  /* W3C */
}

/*# sourceMappingURL=app.css.map */
